.big-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.medium-container
{
    width: 733px; 
    margin-left: -0.5px;
    background-color: #fff;
    margin-top: 10px;
    min-height: 50px;
    padding: 10px;
}
.small-container 
{
    width: 600px;
    min-height: 400px;
    position: absolute;
    top: 410px;                   
}
.main-text
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Arial";
    font-weight: 600;
    color: #2e2483;
    font-size: 28px;
    overflow-wrap: anywhere;
    margin-bottom: 35px;
}
@page 
{ 
    margin: 0px;
}
.picture
{
    max-width: 100%;
}
.buttons
{
    display: flex;
    justify-content: space-between;
    font-family: "Arial";
    font-weight: 600;
	font-size: 28px;
    color: #2e2483;
    padding: 7px;
    border-radius: 10px;
    background-color: #fff;
}
.buttons:hover
{
    color: #fff;
    background-color: #2e2483;
}
.margin-button
{
    margin-right: 100px;
}
@media (min-width:319px) {
    .main-text
    {
        font-size: 13px;
        margin-bottom: -10px;
    }
    .small-container 
    {
        top: 175px;
        width: 205px;
    }
    .buttons
    {
        font-size: 13px;
    }
    .margin-button
    {
        margin-right: 55px;
    }
}
@media (min-width:340px) {
    .small-container 
    {
        top: 190px;
    }
}
@media (min-width:374px) {
    .main-text
    {
        font-size: 15px;
        margin-bottom: -5px;
    }
    .small-container 
    {
        top: 220px;
        width: 240px;
    }
    .buttons
    {
        font-size: 15px;
    }
    .margin-button
    {
        margin-right: 55px;
    }
}
@media (min-width:424px) {
    .main-text
    {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .small-container 
    {
        top: 240px;
        width: 257px;
    }
    .buttons
    {
        font-size: 16px;
    }
    .margin-button
    {
        margin-right: 55px;
    }
}
@media (min-width:479px) {
    .small-container 
    {
        top: 270px;
        width: 370px;
    }
}
@media (min-width:767px) {
    .main-text
    {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .small-container 
    {
        top: 410px;
        width: 450px;
    }
    .buttons
    {
        font-size: 28px;
    }
    .margin-button
    {
        margin-right: 100px;
    }
}